body{
    font-family: sans-serif;
    color:gray;
    padding: 5px;
}

header{
    text-align: center;
}

span{
    background-color: rgb(166, 127, 127);
    color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10 px 20px;
}

*{
    padding: 0;
    margin: 0;
}

p{
    margin: 10px;
}
main{
    margin-top: 10px;
}
section{
    display: flex;
    justify-content: center;
}
div{
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}
img{
    width: 200px;
}

footer{
    margin: 10px 20px;
    text-align: center;
}